html {
	font-family: Helvetica;
	text-align: center;
	font-size: 14px;
}
h1 {
	font-size: 70px;
	font-color: white;
	font-weight: bold;
}
h2 {
	font-size: 32px;
	font-weight: bold;
}
h3	{
	font-size: 23px;
	font-weight: bold;
}